html {
    background:black;
    color: white;
}
h1 {
    text-decoration: underline;
}
.heading2{
    font-weight: 600;
}
.greenText{
    color: green;
}
.yellowText{
    color: yellow;
}
.orangeText{
    color: orange;
}
.redText{
    color: red;
}
.ul-headers{
    font-size:x-large;
    padding-left: 15px;;
}
.il-items{
    font-size: medium;
    margin-left: 80px;;
}
